@charset "utf-8";

// Default
$blue: hsl(217, 71%, 53%);
$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);

$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 29%);
$grey: hsl(0, 0%, 48%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$grey-lightest: hsl(0, 0%, 93%);

$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Customizations
$body-background-color: #eeeeee;
$text: #444444;
$footer-background-color: $grey-lighter;
$radius-small: 3px;
$control-radius-small: 3px;
$pick-green: #4caf50;
$ban-red: #cc3333;
$steal-gold: #ffc107;
$host-cyan: #00bcd4;
$guest-gold: #ffc107;
$opponent-purple: #990099;
$pick-by-opponent: linear-gradient(135deg, $opponent-purple 33%, $pick-green 34%);
$ban-by-opponent: linear-gradient(135deg, $opponent-purple 33%, $ban-red 34%);
$steal-by-opponent: linear-gradient(135deg, $opponent-purple 33%, $steal-gold 34%);
$family-monospace: 'Consolas', 'Monaco', monospace;

@import "../../node_modules/bulma/bulma.sass";

$switch-focus: none;
@import "../../node_modules/bulma-switch/src/sass/index.sass";

// -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
//@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
// Serve Google Fonts locally to account for where Google is not accessible
// Generated using https://google-webfonts-helper.herokuapp.com/fonts/crete-round?subsets=latin,latin-ext
/* crete-round-regular - latin-ext_latin */
@font-face {
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Crete Round'), local('CreteRound-Regular'),
  url('/fonts/crete-round-v8-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/crete-round-v8-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* crete-round-italic - latin-ext_latin */
@font-face {
  font-family: 'Crete Round';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Crete Round Italic'), local('CreteRound-Italic'),
  url('/fonts/crete-round-v8-latin-ext_latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/crete-round-v8-latin-ext_latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, .navbar-brand h1 {
  font-family: 'Crete Round', sans-serif;
  font-weight: 300;
}
.content {
  h5, h6 {
    color: $grey;
  }
}

body, .box, .column, .tag, .table, td, .button, .bar, .navbar, .footer, .input, .message, a, code, .tabs ul {
  transition: all 0.4s ease;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1024px;
}

section.section {
  padding: 1.5rem;
}

nav.navbar .navbar-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

nav.navbar .navbar-brand h1 {
  font-size: 1.2rem;
}

.navbar-brand {
  a {
    color: $scheme-invert-ter;

    &:hover {
      color: $grey;
    }
  }
}

.message-body {
  code pre {
    background-color: $message-body-pre-background-color;
  }
}

code {
  color: inherit;
  border-radius: 4px;
}

.box {
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.tags:not(:last-child) {
  margin-bottom: 0;
}

.tags {
  display: inline-block;
}

.tags .tag {
  margin-bottom: 0;
}

.column.has-text-vcentered {
  display: flex;
  align-items: center;
}

label.civ-select:hover {
  background-color: $scheme-main-ter;
  border-radius: $radius-small;
}


/* TURNS ROW */
.turn-row {
}

.turn-row .turn.column.is-1 {
  width: 72px !important;
  margin-bottom: 5px;
}

.turn .tag {
  margin-bottom: 0
}

.turn-row .arrow-start, .turn-row .arrow-end {
  font-size: 0.7rem;
  padding: 0.65rem;
}

.turn-host.turn-parallel .bar {
  background: $host-cyan; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($host-cyan, $guest-gold); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($host-cyan, $guest-gold); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($host-cyan, $guest-gold); /* For Firefox 3.6 to 15 */
  background: repeating-linear-gradient(
                  -55deg,
                  $host-cyan,
                  $host-cyan .4rem,
                  $guest-gold .4rem,
                  $guest-gold .8rem
  );
}

.turn-guest.turn-parallel .bar {
  background: $guest-gold; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient($guest-gold, $host-cyan); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient($guest-gold, $host-cyan); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($guest-gold, $host-cyan); /* For Firefox 3.6 to 15 */
  background: repeating-linear-gradient(
                  -55deg,
                  $guest-gold,
                  $guest-gold .4rem,
                  $host-cyan .4rem,
                  $host-cyan .8rem
  );
}

.turn {
  display: inline-block;
  width: 2rem;
  padding: 0.1rem;
}

.turn-pick {
  color: $pick-green;
}

.turn-ban {
  color: $ban-red;
}

.turn .tag {
  font-size: 0.65rem;
}

.bar {
  height: .4rem;
  border-radius: .2rem;
}

.turn-host .bar {
  background-color: $host-cyan;
}

.turn-guest .bar {
  background-color: $guest-gold;
}

.turn-none .bar {
  background-color: $black-ter;
}

.turn-parallel .bar {
  background: repeating-linear-gradient(
                  -55deg,
                  $host-cyan,
                  $host-cyan .2rem,
                  $guest-gold .2rem,
                  $guest-gold .4rem
  );
}

.turn-hidden .bar {
  border-left: .5rem solid $black-ter;
  border-right: .5rem solid $black-ter;
}

.turn.active {
  background-color: khaki;
  border-radius: 4px;
}

.turn.for-opponent .action {
  transform: rotate(180deg);
}

/** grid stuff **/

.chooser {
  max-width: 808px;
  display: block;
  margin: 8px auto;
  border-radius: 2px;
  padding: 8px;
  background: rgba(153, 153, 153, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.12), inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.choice {
  box-sizing: border-box;
  width: 80px;
  transition: all 0.25s ease;
  margin: 4px;
  padding: 8px;
  background: rgba(153, 153, 153, 0.4);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.choice:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 1px 2px rgba(0, 0, 0, 0.23);
  opacity: 1;
}

.choice-chosen {
  background-color: rgba(76, 175, 80, 0.6);
}

.choice-banned {
  background-color: rgba(244, 67, 54, 0.6);
}

.choice-banned, .choice-chosen {
  opacity: 0.7;
}

.choice-ban:hover {
  background-color: #f44336;
}

.choice-pick:hover {
  background-color: #4caf50;
}

.choice-gbanned {
  opacity: 0.12 !important;
  box-shadow: none !important;
}

.choice-disabled:hover {
  opacity: 0.40;
  box-shadow: none;
  transform: none;
}

.choice-disabled, .choice-banned.choice-disabled:hover, .choice-chosen.choice-disabled:hover {
  opacity: 0.30;
  box-shadow: none;
  transform: none;
  cursor: not-allowed;
}

.choice-disabled img {
  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
}

.choice-hidden img {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.choice-hidden, .choice-hidden:hover {
  opacity: 0.1;
  box-shadow: none;
  transform: none;
  background-color: transparent !important;
}

.choice, .choice img {
  border-radius: 2px;
}

.choice img {
  background-color: rgba(0, 0, 0, 0.3);
}

div.stretchy-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
  border-radius: 2px;
}

div.stretchy-wrapper > div.stretchy-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stretchy-image.is-stolen,
.stretchy-image.is-sniped {
  filter: grayscale(100%);
}

div.stretchy-wrapper > div.stretchy-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2px 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 12px;
  transition: 0.1s ease-in-out;
  letter-spacing: -0.5px;
}

.choice img {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.pick, .steal, .ban {
  box-shadow: none;
  border-radius: 4px;
  margin: 4px;
  padding: 8px;
  box-sizing: content-box;
  opacity: 0.4;
}

.pick.has-value, .steal.has-value, .ban.has-value {
  opacity: 1;
}

.pick {
  width: 96px;
  height: 96px;
  background: $pick-green;
}

.steal {
  width: 96px;
  height: 96px;
  background: $steal-gold;
}

.ban {
  width: 64px;
  height: 64px;
  background: $ban-red;
}

.pick.by-opponent {
  background: $pick-by-opponent;
}

.ban.by-opponent {
  background: $ban-by-opponent;
}

.steal.by-opponent {
  background: $steal-by-opponent;
}

.pick img, .steal img, .ban img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.pick .chosen-hidden img, .steal .chosen-hidden img, .ban .chosen-hidden img {
  visibility: hidden;
}

.pick .chosen-hidden .stretchy-image, .steal .chosen-hidden .stretchy-image, {
  background-image: url('/images/hidden_pick.png');
  background-size: contain;
}

.ban .chosen-hidden .stretchy-image {
  background-image: url('/images/hidden_ban.png');
  background-size: contain;
}

.picks .box-content, .bans .box-content {
  visibility: hidden;
}

.random-pick {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  left: -2px;
  background-image: url('/images/random.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  opacity: 1
}

.random-snipe {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 32px;
  right: 32px;
  background-image: url('/images/random.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
  opacity: 1;
}

.random-steal {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 45px;
  right: 56px;
  background-image: url('/images/random.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  opacity: 1;
}

.ban .random-pick {
  top: 0;
  left: -1px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
}

.active-choice {
  -webkit-animation: pulsate 1s ease-in infinite alternate;
  -moz-animation: pulsate 1s ease-in infinite alternate;
  -animation: pulsate 1s ease-in infinite alternate;
  animation: pulsate 1s ease-in infinite alternate;
}

.is-visible {
  visibility: visible !important;
}

.is-valinged-middle {
  vertical-align: middle !important;
}

.spectator-action {
  width: 100px;
  padding: 0;
}

#countdown-timer {
  display: inline-block;
  font-weight: 600;
}

.countdown-timer-last {
  color: $ban-red;
  -webkit-animation: pulsate 1s ease-in infinite alternate;
  -moz-animation: pulsate 1s ease-in infinite alternate;
  -animation: pulsate 1s ease-in infinite alternate;
  animation: pulsate 1s ease-in infinite alternate;
}

.role, .role img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.role-button {
  width: auto;
  height: auto;
  padding: 10px;
}

/* player sides */

.player {
  min-width: 400px;
}

.players {
  display: flex;
  align-content: flex-start;
  justify-content: center;
}

.player-host {
  color: $host-cyan; /*cyan */
}

.player-guest {
  color: darken($guest-gold, 6%);
}

.player-inactive {
  background-color: rgba($scheme-main, 0.3);
}

.player-inactive h4.player-name, .player-inactive .captains-line, .player-inactive .sub-heading {
  opacity: 0.5;
}

#player-host {
  text-align: right;
}

#player-guest {
  text-align: left;
}

.flipped #player-host {
  text-align: left;
}

.flipped #player-guest {
  text-align: right;
}

#player-host h4.player-name {
  color: $host-cyan;
}

#player-guest h4.player-name {
  color: darken($guest-gold, 6%);
}

.player .head-text {
  text-transform: uppercase;
}

.picks, .bans, .captains-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#player-host .picks,
#player-host .bans,
#player-host .captains-line {
  flex-direction: row-reverse;
}

.flipped #player-host .picks,
.flipped #player-host .bans,
.flipped #player-host .captains-line {
  flex-direction: row;
}

#player-guest .picks,
#player-guest .bans,
#player-guest .captains-line {
  flex-direction: row;
}

.flipped #player-guest .picks,
.flipped #player-guest .bans,
.flipped #player-guest .captains-line {
  flex-direction: row-reverse;
}

.flipped .player-panels {
  flex-direction: row-reverse;
}

.smooch #player-host .stretchy-image img {
  transform: scaleX(-1);
}

.smooch.flipped #player-host .stretchy-image img {
  transform: none;
}

.smooch.flipped #player-guest .stretchy-image img {
  transform: scaleX(-1);
}

.back-icon.header-navigation {
  display: inline-block;
  width: 48px;
  height: 48px;
  color: $scheme-invert !important;
  opacity: 0.60;
  background: none;
  padding: 0;
}

.back-icon.header-navigation:hover {
  opacity: 1.0;
  background: none;
}

.steal-marker {
  background-image: url('/images/steal-marker.svg');
}

.snipe-marker {
  background-image: url('/images/snipe-marker.svg');
}

.used-marker.used-crown {
  background-image: url('/images/crown.svg');
}

.used-marker.used-skull {
  background-image: url('/images/skull.svg');
}

.green-status-marker {
  color: $pick-green;
}


@media screen and (max-width: 1215px) {
  .container.is-desktop {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container.is-desktop {
    max-width: 960px;
  }
}

@media screen and (max-width: 1407px) {
  .container.is-desktop {
    max-width: 960px;
  }
}

@media screen and (min-width: 1408px) {
  .container.is-desktop {
    max-width: 960px;
  }
}


@-webkit-keyframes pulsate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.54;
  }
}

@-moz-keyframes pulsate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.54;
  }
}

@keyframes pulsate {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.54;
  }
}

.has-cursor-pointer {
  cursor: pointer;
}

.has-cursor-grab {
  cursor: grab;
}

.sortable-ghost {
  opacity: 0;
}

.flex-justify-center {
  justify-content: center;
}

.table-header {
  background-color: darken($scheme-main-ter, 10%);
}

.preset-editor-row {
  background-color: darken($scheme-main-ter, 3%);
  border-bottom: 1px solid darken($scheme-main-ter, 10%);
}

.has-background-transparent {
  background-color: transparent !important;
}

#draft-title a {
  color: $black-ter;
}

// Dark Mode
html.has-theme-dark {
  background-color: $black;
  body.has-theme-dark {
    background-color: $black-bis;
    color: $grey;
  }
}

body.has-theme-dark {
  @import "bulma-dark.scss";
}

// Simple UI
html.has-simple-ui {
  background: none;

  body {
    background: none;
  }

  .box {
    background: none !important;
    box-shadow: none;
  }

  .ban {
    width: 96px;
    height: 96px;
  }

  .player.box {
    width: 650px;
    padding: 0;
  }

  //.pick {
  //  background: #0084AC; // T90 Blue
  //}

  #player-guest.column, #player-host.column {
    margin: 0;
    padding: 0.7rem;
  }

  .footer {
    background: none;
    opacity: 80%;
  }
}
