html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.content {
	flex: 1 0 auto;
}

.footer {
	padding-top: 1rem;
	flex-shrink: 0;
}

.topRightControls {
	position: absolute;
	top: 8px;
	right: 8px;
	z-index: 2000;
}

.usernameSelector {
	margin-right: .5rem;
}

.active {
    background-color: yellow;
}

.hidden {
	display: none;
}

.card.has-value {
	opacity: 1.0;
}

.snipe-marker {
	background-image: url('/images/red-cross.svg');
}

.used-marker {
	background-image: url('/images/green-cross.svg');
}

.picks .box-content.visible,
.bans .box-content.visible {
	visibility: visible !important;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}

.content {
	min-width: 480px;
	width: 100%;
}

.draft-content {
	padding-top: 1px;
}

.pure-g {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.footer, .push {
    width: 100%;
    height: 40px;
    font-size: 12px;
}

.inline-logo {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: .1rem;
}

#captain-name {
	font-size: 20px;
	display: inline-block;
	float: left;
	margin-right: 16px;
}

#themeswitcher {
	width: 24px;
	height: 24px;
	margin-right: 16px;
	background-color: black;
	border: 1px solid #838383;
	opacity: 0.54;
	display: block;
	float: left;
}

#languageswitcher {
	float: left;
	display: block;
	margin-right: 12px;
}


#themeswitcher:hover {
	opacity: 1.0;
}

#themeswitcher.theme-material-chroma {
	background-color: white;
}

#themeswitcher.theme-material-dark {
	background-color: #ff00ff;
}

#themeswitcher.theme-material {
	background-color: black;
}

#themeswitcher span {
	display: none;
}

@media screen and (min-width: 800px) {
	.content {
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}
}

.role {
	width: 100px;
}

.role img {
	width: 100px;
}

.greenMarker {
	color: #4caf50;
}

.pure-button.civ-select {
	padding: .3rem .5rem .1rem .5rem;
}

.wide-input span {
	display: flex;
	flex-direction: row;
}

.wide-input span input {
	flex-grow: 1;
}
